.one-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 5px solid red; */
    align-items: center;
    background-color: #011526;
    width: 500px;
    margin: 10px auto;
}

.one-task h4 {
    padding-left: 25px;
}

.one-task button {
    background-color: #011526;
    color: #91bbf2;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    font-size: 16px;
}

.main-button {
    background-color: #91bbf2;
    color: #011526;
    border: none;
    padding: 10px 30px;
    display: block;
    margin: 25px auto;
    cursor: pointer;
    font-size: 20px;
}
